# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Mm]emoryCaptures/
UserSettings/

# Visual Studio / Rider / IDE
.vs/
.vscode/
.idea/
*.user
*.userprefs
*.sln*
*.csproj
*.pidb
*.booproj
*.svd

# OS junk
.DS_Store
Thumbs.db

# Crash / debug
sysinfo.txt
*.stacktrace

# Builds
[Bb]uilds*/
*.apk
*.aab
*.app
*.exe
*.zip
*.unitypackage
